In [1]:
import pandas as pd
import numpy as np

In [6]:
survey1 = pd.read_csv('/Users/kryvoshei/Downloads/survey_results_public.csv', on_bad_lines='skip')
survey2 = pd.read_csv('/Users/kryvoshei/Downloads/survey_results_schema.csv', on_bad_lines='skip')

In [79]:
survey1.head()

,ResponseId,Q120,MainBranch,Age,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,ProfessionalTech,Industry,SurveyLength,SurveyEase,ConvertedCompYearly,answered_questions
0,1,I agree,None of these,18-24 years old,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
1,2,I agree,I am a developer by profession,25-34 years old,"Employed, full-time",Remote,Hobby;Contribute to open-source projects;Boots...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;Friend or fam...,Formal documentation provided by the owner of ...,...,10+ times a week,Never,15-30 minutes a day,15-30 minutes a day,DevOps function;Microservices;Automated testin...,"Information Services, IT, Software Development...",Appropriate in length,Easy,285000.0,78
2,3,I agree,I am a developer by profession,45-54 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Professional development or self-paced l...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Formal documentation provided by the owner of ...,...,6-10 times a week,3-5 times a week,30-60 minutes a day,30-60 minutes a day,DevOps function;Microservices;Automated testin...,"Information Services, IT, Software Development...",Appropriate in length,Easy,250000.0,60
3,4,I agree,I am a developer by profession,25-34 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Colleague;Friend or family member;Other online...,Formal documentation provided by the owner of ...,...,10+ times a week,1-2 times a week,15-30 minutes a day,30-60 minutes a day,Automated testing;Continuous integration (CI) ...,NaN,Appropriate in length,Easy,156000.0,65
4,5,I agree,I am a developer by profession,25-34 years old,"Employed, full-time;Independent contractor, fr...",Remote,Hobby;Contribute to open-source projects;Profe...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Online Courses or Certi...,Formal documentation provided by the owner of ...,...,1-2 times a week,3-5 times a week,60-120 minutes a day,30-60 minutes a day,Microservices;Automated testing;Observability ...,Other,Appropriate in length,Neither easy nor difficult,23456.0,73

In [8]:
survey2.head()

,qid,qname,question,force_resp,type,selector
0,QID16,S0,"<div><span style=""font-size:19px;""><strong>Hel...",False,DB,TB
1,QID12,MetaInfo,Browser Meta Info,False,Meta,Browser
2,QID310,Q310,"<div><span style=""font-size:19px;""><strong>You...",False,DB,TB
3,QID312,Q120,,True,MC,SAVR
4,QID1,S1,"<span style=""font-size:22px; font-family: aria...",False,DB,TB

1. Скільки респондентів пройшли опитування? (89184)

In [24]:
total_respondents = len(survey1)

In [25]:
total_respondents

89184

2. Скільки респондентів відповіли на всі запитання? (2032)

In [48]:
total_questions = set(survey2['qname'].unique()) & set(survey1.columns)
tq = survey1.dropna(subset=total_questions)
tq.shape[0]

2032

3. Які значення мір центральної тенденції для досвіду (WorkExp) респондентів?

In [50]:
mean_work_exp = survey1['WorkExp'].mean()
mean_work_exp

11.405126322311204

In [51]:
median_work_exp = survey1['WorkExp'].median()
median_work_exp

9.0

In [52]:
mode_work_exp = survey1['WorkExp'].mode()
mode_work_exp

0    5.0
Name: WorkExp, dtype: float64

4. Скільки респондентів працює віддалено? (30566)

In [53]:
test = survey1.groupby('RemoteWork')['ResponseId'].count()
test

RemoteWork
Hybrid (some remote, some in-person)    31131
In-person                               12113
Remote                                  30566
Name: ResponseId, dtype: int64

5. Який відсоток респондентів програмує на Python? (48.4%)

In [67]:
python_users = survey1['LanguageHaveWorkedWith'].str.contains('Python', na=False).sum()
total_respondents = len(survey1)
python_users_percentage = (python_users_count / total_respondents) * 100
python_users_percentage

48.392088266953714

6. Скільки респондентів навчалося програмувати за допомогою онлайн курсів? (43201)

In [72]:
respondent_online_courses = survey1['LearnCode'].str.contains('Online Courses', na=False).sum()
respondent_online_courses

43201

7. Серед респондентів що програмують на Python в групуванні по країнам, яка середня та медіанна сума компенсації (ConvertedCompYearly) в кожній країні?

In [77]:
python_users = survey1[survey1['LanguageHaveWorkedWith'].str.contains('Python', na=False)]
grouped_data = python_users.groupby('Country')['ConvertedCompYearly']
average_compensation = grouped_data.mean()
median_compensation = grouped_data.median()
result = pd.DataFrame({'Average_Compensation': average_compensation, 'Median_Compensation': median_compensation})
result

,Average_Compensation,Median_Compensation
Country,,
Afghanistan,665.000000,48.0
Albania,28008.600000,11844.0
Algeria,8336.333333,6586.0
Andorra,32127.000000,32127.0
Angola,662.000000,662.0
...,...,...
"Venezuela, Bolivarian Republic of...",24973.529412,12000.0
Viet Nam,20191.870370,13401.0
Yemen,8373.000000,9000.0
Zambia,13051.000000,9687.0
Zimbabwe,5600.000000,6000.0

8. Які рівні освіти мають 5 респондентів з найбільшою компенсацією?

In [80]:
sorted_data = survey1.sort_values(by='ConvertedCompYearly', ascending=False)
top_5_respondents = sorted_data.head(5)
education_levels_top_5 = top_5_respondents['EdLevel']
education_levels_top_5

53268    Professional degree (JD, MD, Ph.D, Ed.D, etc.)
77848    Professional degree (JD, MD, Ph.D, Ed.D, etc.)
66223      Bachelor’s degree (B.A., B.S., B.Eng., etc.)
28121                         Primary/elementary school
19679    Professional degree (JD, MD, Ph.D, Ed.D, etc.)
Name: EdLevel, dtype: object